<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="/manifest.json">
    <title>Your Hammer app</title>
  <style type="text/css">body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
</style><style type="text/css">.App {
  text-align: center;
}

.App-logo {
  height: 120px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

</style></head>
  <body>
    <div id="root"><div class="App"><header class="App-header"><img src="https://hammer-io.github.io/i/Viking_Hammer_Logo_1.png" class="App-logo" alt="logo"><h1 class="App-title">Hello World!</h1></header><p class="App-intro">Welcome to your new app created through <a href="https://github.com/hammer-io">hammer-io<a>.</p></div></div>

</body>
